
$main-color:#7b717c;

@media only print
{
   body{visibility: hidden;}
   .printId{visibility: visible;}
    
   div.svg{
        display: none;
    }

    div div.request{
        display: none;
    }

   .modal .modal-dialog .modal-content .modal-header,
   .modal .modal-dialog .modal-content .btn{
    display: none;
   }

   .modal .modal-dialog .modal-content ,
   .modal .modal-dialog .modal-content .modal-body .card{
    border: none;
    width: 1000px;
   }

//    .modal .modal-dialog .modal-content .modal-body .card p{
//         font-size: 55px;
//         padding-bottom: 45px;
//     }

}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    // box-shadow: 0px 0px 17px #b1dbff;
    border-radius: 10px;
    background-color: #fff;
    background: none;
}

.svg{
    margin-bottom: -20%;
}

.title{
    padding: 15px;
    text-align: center;
    color: $main-color;
    font-size: 30px;
    font-weight: 600;
    font-family: lostbar;
    text-transform: capitalize;
    color: #00a1d9;
    padding-top: 30px;
}
.buttons{
    padding: 35px 35px;
    display: flex;
    justify-content: space-between;
}
.btn1,.btn2{
    border: none;
    padding: 15px;
    border-radius: 15px;
    font-weight: 700;
    box-shadow: 0px 0px 5px;
    margin: 10px;
}
.btn1{
    background-color: azure;
    color: red;
}
.btn2{
    background-color: azure;
    color: #1200e5;
}
.modal-header{
    padding-bottom: 8px;
    padding-top: 8px;
}
.title-modal{
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
}
.modal-body{
    margin-left: -35px;
}
.modal-body .card{
    width: 85%; padding: 15px; margin-bottom: 10px; 
    padding-top: 15px;
}


// ------------------------------------------------------------


table{
    text-align: center;
}
.card-Data{
    text-align: center;
}
.border{
    padding: 7px auto;
    border: 1px solid lightgray;
}
.dotted-right1,.dotted-right2{
    position: relative;
}
.dotted-right1::after,
.dotted-right2::after{
    position: absolute;
    content: ":";
    right: 0px;
    top: 15%;
}
.dotted-right2::after{
    top: 30%
}
.ID td{
    padding: 5px 15px;
}

p{
    text-align: center;
    margin-bottom: 4px;
}